.indianarecordwhite {
	height: 80px;
}

.indianarecordul {
	position: fixed;
	top: 40px;
	width: 100%;
	background: white;
}

.indianarecordul li {
	float: left;
	width: 33%;
	text-align: center;
	line-height: 40px;
	height: 40px;
	font-size: 12px;
}

#indianarecordli1 {
	color: red;
	border-bottom: 2px solid red;
}

#indianarecordli2 {
	color: #666;
}

#indianarecordli2 {
	color: #666;
}

.indianaproduct {
	clear: both;
	border-bottom: 1px solid #eee;
}

.indianaproductimg img {
	display: block;
	width: 100px;
	height: 100px;
	margin: 10px;
	float: left;
}

.indianaproductright {
	font-size: 12px;
	color: #666;
	line-height: 20px;
	height: 20px;
	margin-top: 10px;
	float: left;
}

.indianaproductrightstatus {
	clear: both;
	color: #cb1c1c;
}

.indianaproductrightjointime span {
	color: #cb1c1c;
}

.indianaproductrightjointime a {
	padding-left: 20px;
	color: #18A2F2;
}
