* {
	padding: 0;
	margin: 0;
	list-style: none;
}

.navul {
	clear: both;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	background: white;
	height: 60px;
}

.navul li {
	float: left;
	width: 20%;
	text-align: center;
	margin-top: 5px;
}

.divimg img {
	width: 30px;
	display: block;
	height: 30px;
	margin: 0 auto;
}

.divtext {
	font-size: 13px;
	margin-top: 5px;
}

a {
	text-decoration: none;
	color: #a9b7b7;
}

.textfirst {
	color: #ea8010;
}

.bottomhundred {
	clear: both;
	height: 70px;
}
