* {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.detailheader {
    background: #eee;
    text-align: center;
    height: 160px;
}

.detailheader img {
    height: 150px;
    width: 100%;
    display: block;
}

.duobaoname {
    margin-left: 15px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
}

.duobaoing {
    color: red;
}

.duobaodes {
    color: #666;
}

.jindutiao {
    height: 5px;
    width: 90%;
    background: #d2d2d2;
    margin: 0 auto;
    border-radius: 5px;
}

.innerjindutiao {
    background: #f4900b;
    height: 100%;
    border-radius: 5px;
}

.duobaoneednum {
    width: 90%;
    margin: 0 auto;
}

.needleft {
    float: left;
    line-height: 30px;
}

.needleft span {
    color: #666;
    font-size: 13px;
}

.needright {
    float: right;
    line-height: 30px;
    color: #666;
    font-size: 13px;
}

.needright span {
    color: #18a2f2;
}

.tuwenxiangqing {
    clear: both;
    height: 40px;
    border-top: 1px solid #eee;
    line-height: 40px;
}

.tuwenicon {
    float: left;
    width: 20px;
    margin: 10px 10px;
    display: block;
}

.tuwenxiangqing span {
    font-size: 15px;
    display: block;
    float: left;
}

.khicon {
    float: right;
    height: 20px;
    margin: 10px;
}

.jianjugrey {
    clear: both;
    height: 10px;
    width: 100%;
    border-top: 1px solid #eee;
    background: #efefef;
}

.description {
    border-bottom: 1px solid #eee;
}

.duihuanshuoming {
    width: 90%;
    margin: 10px auto;
}

.duihuanshuoming p {
    line-height: 25px;
    color: #666;
}

.canyuduobao {
    clear: both;
    font-size: 15px;
    color: #666;
    background: #eee;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.wqjxhead {
    height: 30px;
    line-height: 30px;
    color: #666666;
    background: #eee;
    font-size: 15px;
    padding-left: 15px;
}

.wqjxleft {
    margin: 15px;
    float: left;
}

.wqjxleft img {
    height: 50px;
    width: 50px;
}

.wqjxright {
    float: left;
    margin: 15px;
    font-size: 15px;
    color: #666;
}

.nickname {
    color: #18A2F2;
}

.xingyunhaoma {
    color: red;
}

.wqjxright ul li {
    line-height: 25px;
}

.wangqijiexiao {
    clear: both;
}

.abottom {
    display: block;
    height: 15px;
    margin: 0 auto;
    text-align: center;
    background: #eee;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.yindaoye {
    position: fixed
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 100000;
}

.yindaoye img {
    position: fixed
    display: block;
    z-index: 100000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.joinrecordimg {
    clear: both;
    float: left;
    width: 40px;
    height: 40px;
    margin: 10px 10px 0 10px;
}

.joinrecordimg img {
    display: block;
    width: 100%;
    height: 100%;
}

.joinrecordright {
    margin-top: 10px;
    float: left;
    font-size: 12px;
}

.joinrecordnick {
    color: #18A2F2;
    float: left;
}

.joinrecordip {
    color: #999;
    float: right;
}

.joinrecordtimesleft {
    clear: both;
    color: #333;
    float: left;
}

.joinrecordtimesleft span {
    color: red;
}

.joinrecordtimesright {
    color: #999;
    float: right;
}

.detailbottom {
    position: fixed;
    z-index: 9999;
    height: 60px;
    line-height: 60px;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
}

.detailbottomleft {
    float: left;
    width: 40%;
    -webkit-border-radius:;
    -moz-border-radius:;
    border-radius: 5px;
    background-color: #cb1c1c;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    margin: 10px 4%;
}

.detailbottomright {
    float: right;
    width: 40%;
    height: 40px;
    line-height: 40px;
    -webkit-border-radius:;
    -moz-border-radius:;
    border-radius: 5px;
    border: 1px solid #cb1c1c;
    color: #cb1c1c;
    text-align: center;
    margin: 10px 4%;
}

.whitebottom {
    clear: both;
    height: 70px;
}

.lijicanyu {
    clear: both;
    position: fixed;
    z-index: 10000;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    display: none;
}

.lijicanyuheader {
    height: 40px;
    line-height: 40px;
    background-color: #f2f2f2;
    color: #666;
    font-size: 14px;
}

.lijicanyuheader span {
    padding-left: 20px;
}

.lijicanyuheader img {
    display: block;
    width: 15px;
    float: right;
    margin: 10px 20px;
}

.jointimestext {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    padding: 20px 0 0 20px;
    color: #666;
}

.jointimesaddreduce {
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.jointimereduce {
    float: left;
    width: 35px;
    height: 35px;
    -webkit-border-radius:;
    -moz-border-radius:;
    border-radius: 5px 0 0 5px;
    border-left: 1px solid #999;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    line-height: 35px;
    margin-left: 20px;
}

.jointimes {
    float: left;
    width: 70px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #999;
}

.jointimesadd {
    float: left;
    width: 35px;
    height: 35px;
    line-height: 35px;
    -webkit-border-radius:;
    -moz-border-radius:;
    border-radius: 0 5px 5px 0;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
}

.lijicanyuline {
    clear: both;
    border-top: 1px solid #eee;
}

.yiyuanduobao {
    clear: both;
    text-align: center;
    width: 50%;
    margin: 10px auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #cb1c1c;
    height: 40px;
    color: white;
    line-height: 40px;
}

.backgroundgrey {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 999;
    background-color: black;
    opacity: 0.2;
    display: none;
}

#jointimes {
    border: none;
    width: 60px;
    text-align: center;
}

/*确认订单*/
.confirmdiv {
    font-size: 13px;
    line-height: 40px;
    height: 40px;
    color: #666;
    padding-left: 15px;
    background-color: white;
}

.confirmspace {
    height: 15px;
    background-color: #eee;
}

.redpackright {
    float: right;
    padding-right: 15px;
}

.confirmprice {
    float: right;
    padding-right: 15px;
}

.confirmbottom {
    height: 50px;
    line-height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: white;
}

.confirmbottomleft {
    float: left;
    margin: 0 15px;
    color: #666;
    font-size: 13px;
}

.confirmbottomleft span {
    color: #cb1c1c;
}

.confirmprice {
    color: #cb1c1c;
}

.confirmbottomright {
    float: right;
    background-color: #cb1c1c;
    height: 40px;
    line-height: 40px;
    width: 120px;
    text-align: center;
    color: white;
    border-radius: 5px;
    margin: 5px 15px 5px 0;
}

.confirmbody {
    background-color: #eee;
}

/*支付页面*/
.paydiv {
    height: 40px;
    line-height: 40px;
    color: #666;
    font-size: 15px;
    padding-left: 15px;
}

.spaceline {
    border-top: 1px solid #eee;
}

.payorderno {
    font-size: 12px;
    color: #999;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
}

.paypriceright {
    float: right;
    padding-right: 15px;
    color: #cb1c1c;
}

.paydiv img {
    display: block;
    width: 20px;
    margin: 10px;
    float: left;
}

.paybottom {
    width: 96%;
    text-align: center;
    margin: 10px auto;
    background-color: #cb1c1c;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    color: white;
}