.settingbutton {
	width: 96%;
	margin: 0 auto;
	text-align: center;
	height: 40px;
	line-height: 40px;
	background: #cb1c1c;
	border-radius: 5px;
	margin-top: 10px;
	color: white;
	font-weight: 600;
}

/*手机号码*/
#mobileinput {
	margin: 60px 2% 0 2%;
	width: 96%;
	height: 50px;
	border-radius: 5px;
	border: 1px solid #eee;
}

/*地址管理*/
.addressadd {
	width: 96%;
	border: 1px solid #eee;
	height: 50px;
	border-radius: 5px;
	margin:0 auto;
	line-height: 50px;
	text-align: center;
	background-color: #cb1c1c;
	color: white;
	clear:both;
}

/*添加地址*/

.addaddressdiv {
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-bottom: 1px solid #eee;
	width: 90%;
	margin: 0 auto;
}

.addaddressdivleft {
	width: 30%;
	float: left;
	color: #666;
	text-align: justify;
	text-justify: distribute;
}

.addaddressdiv input {
	float: left;
	display: block;
	line-height: 50px;
	width: 65%;
	border: none;
	font-size: 15px;
	color: #666;
}

.addaddressdiv textarea {
	height: 120px;
	width: 65%;
	font-size: 15px;
	border: none;
	float: left;
	color: #666;
	padding-top: 15px;
}

#addressdetail {
	border: none;
}

#addressdefault {
	border-top: 1px solid #eee;
	clear: both;
}

.addaddressdiv img {
	display: block;
	float: right;
	width: 30px;
	margin: 10px;
}

#address-delete {
	margin: 15px auto;
	color: white;
	background-color: #cb1c1c;
	border-radius: 5px;
}

.address-save {
	float: right;
	margin-right: 10px;
}

.address-save a {
	color: #18a2f2;
}

.address-list {
	width: 90%;
	font-size: 13px;
	margin: 0 auto;
	clear: both;
}

#address-list {
	border-top: 1px solid #eee;
}

.al-left {
	float: left;
	line-height:30px;
	color: #666;
}

.al-right-phone {
	float: right;
	color: #333;
	line-height: 30px;
}

.al-left-address span {
	color: #18a2f2;
}

/*红包页面*/
.noredpack {
	background-color: #f1efeb;
}

.noredpack img {
	display: block;
	width: 60%;
	margin: 0 auto;
}

.redpackbody {
	background-color: #f1efeb;
}

.redpackindiana {
	height: 50px;
	line-height: 50px;
	width: 30%;
	margin: 15px auto;
	background-color: #cb1c1c;
	text-align: center;
	color: white;
	font-size: 15px;
	-webkit-border-radius:;
	-moz-border-radius:;
	border-radius: 5px;
}

.redpacks-left img {
	display: block;
	width: 80px;
	float: left;
	margin: 0px 15px;
}

.redpacks-right {
	line-height: 20px;
	font-size: 12px;
	color: #666;
	padding-top: 10px;
	float: left;
}

.packtitle {
	font-size: 14px;
	color: #333;
	line-height: 30px;
}

.packstatusimg img {
	display: block;
	width: 20px;
	float: left;
}
