* {
	padding: 0;
	margin: 0;
}

.zuixinjiexiao:nth-of-type(2n+1) {
	border-right: 1px solid #eee;
}

.zuixinjiexiao {
	width: 49%;
	font-size: 12px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
	float: left;
}

.zuixinjiexiaobody {
	margin: 10px;
}

.zuixinjiexiaobody div {
	height: 20px;
	line-height: 20px;
}

.zuixinjiexiaoimg img {
	display: block;
	width: 90%;
	height: 120px;
	margin: 10px auto;
}

.zuixinjiexiaoperiod {
	color: #999;
}

.zuixinjiexiaotext {
	color: #cb1c1c;
	font-weight: 700;
}

.zuixinjiexiaotext img {
	width: 20px;
	height: 20px;
	float: left;
}

.zuixinjiexiaotime {
	clear: both;
	float: left;
	color: #cb1c1c;
	font-size: 18px;
	font-weight: 700;
}
